@model IEnumerable<DSOFOS.Models.Review>
<link href="~/Content/PagedList.css" rel="stylesheet" />


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_R_DashboardLayout.cshtml";
}

<h2>Review List</h2>

@using (Html.BeginForm())
{
    @Html.TextBox("Search")
    <input type="submit" name="Search" value="Search" />
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-striped" id="dtaTable">
    <thead class="dataTableHead">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem.MenuItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuItem.MenuItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ReviewId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ReviewId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ReviewId })
                    </td>*@
            </tr>
        }

</table>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });
</script>