@model IEnumerable<DSOFOS.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_R_DashboardLayout.cshtml";
}

<h2>Order Details</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDisplayNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuItem.MenuItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.RestaurantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserMaster.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDisplayNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuItem.MenuItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.RestaurantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserMaster.UserName)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
        </td>*@
    </tr>
}

</table>
